@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        var user = await userManager.GetUserAsync(User);
        if (user != null && !user.IsBlocked)
        {
            <li class="nav-item">
                <a class="nav-link text-dark">Welcome @user.UserName!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
    }
</ul>